name: Deploy to Railway

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    name: Railway deployment
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e ./

      - name: Populate Database
        env:
          FLASK_ENV: production
          MARIADB_HOSTNAME: ${{ secrets.MARIADB_HOSTNAME_DEV }}
          MARIADB_PORT: ${{ secrets.MARIADB_PORT_DEV }}
          MARIADB_DATABASE: ${{ secrets.MARIADB_DATABASE_DEV }}
          MARIADB_USER: ${{ secrets.MARIADB_USER_DEV }}
          MARIADB_PASSWORD: ${{ secrets.MARIADB_PASSWORD_DEV }}
        run: |
          flask db upgrade
          rosemary db:seed

      - name: Install Railway CLI
        run: npm i -g @railway/cli

      - name: Deploy to Railway
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
        run: |
          railway up --service="movie-hub-sandbox"